*{
    margin: 0px;
    padding: 0px;
}

/* Shared Styles */
.common-styles{
    font-size: 3rem;
    font-weight: 700;

}

/* Nav Section */
.nav-container{
    margin: 55px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

    
}

.nav-logo-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav-logo-container img{
    width: 86px;
    height: 40px;
}
.nav-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    height: 50px;
}
.nav-items ul{
    display: flex;
    gap: 20px;
}
.nav-items li, a{
    list-style: none;
    text-decoration: none;
    
}

.nav-btn-container{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px 24px;
    

}
.G-color{
    color: skyblue;
}
.nav-color{
    color: #0B0223;
}
.nav-btn-container button{
    border: none;
    background: none;
}
#youtube{
    width: 24px;
    height: 24px;
    
}
#tiktok{
    width: 34px;
    height: 24px;
}

/* Banner Section */
.banner-section{
    padding: 0px 50px 0px 200px;
    display: flex;
    background: #faf6f6;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3); 
    background-image: url("../images/Group\ 14.png");
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-repeat: no-repeat;
    
}
.banner-text{
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction:column;
    gap: 40px;
}
#banner-play{
    color: #0B0223;
    font-size: 3rem;
}
#goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.9rem;
}

.banner-list li{
    list-style: none;
    text-align: left;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    
}

.banner-button{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 15px;
}
.banner-button button{
    padding: 21px 40px;
    border-radius: 48px;
    color: white;
    justify-content: left;
}

#go-rough{
    background: #4EC5F7; 
}

#sign-in{
    background: #FF42A5;
}
.banner-image img{
    height: 90%;
    width: 80%;
    position: relative;
    right: 0;
}

/* Gamer Section */
.gamer-container{
    padding: 0px 200px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-container img{
    width: 80%;
    height: auto;
}
.gamer-text{
    text-align: right;
   }
.gamer-text > p{
    color: #534C64;
    font-size: 1.15rem;
    margin-top: 24px;
    margin-bottom: 30px;
}
.gamer-text button{
    background: #FF42A5;
    padding: 21px 40px;
    border-radius: 48px;
    color: white;
    margin-bottom: 24px;
}
#gamer-head{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-bottom{
    color: #534C64;
    line-height: 35px;
}
#purpose{
    font-size: 1.4rem;
    font-weight: 500;
}
#unleash{
    font-size: 1.8rem;
    font-weight: 700;
}

/* Funny Videos-Card Section */
.funny-videos{
    text-align: center;
    padding: 100px 200px 50px 200px;
}

.funny-videos p{
    color: #534C64;
    font-size: 1.15rem;
    line-height: 30px
}
#online-games{
    color: #0B0223;
}


.cards{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: #FFF;
}

.cards img{
    width: 300px;
    height: auto;
}
.cards p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

/* Play Instantly Section */
.play-instantly{
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    background: #FFF;
    text-align: right;
}
.play-instantly p{
    color: #534C64;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 30px;
}
.play-instantly-text{
    padding-left: 100px;
}

.play-instantly img{
    width: 80%;
    height: auto;
    display: flex;
    align-items: start;
    /* margin-left: 50px; */
}
#play-instantly-image{
    margin-left: 140px;
}
#image-overlay{
    width: 318px;
    height: 365px;
    position: relative;
    bottom: 270px;

}

/* Game Types Section */
.game-types{
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: -150px;
    margin-bottom: 100px;
    justify-content: space-around;
    gap: 20px;
    background: #b3e6f8;
    border-radius: 20px;
}

.game-types button{
    display: flex;
    border-radius: 50px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}
#game-types-image-size{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: lightgrey;
}

/* Footer Section Styles */
.footer-container{
    background: #0B0223;
    padding: 100px 200px;
}
.footer-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.foot-color{
    color: #FFF;
}

.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    list-style: none;
    padding-top: 60px;
    gap: 50px;
    font-size: 1.15rem;
    font-weight: 600;
}
.footer-btn{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#footer-image-size{
    width: 40px;
    height: 40px;
}

.terms{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 70px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    list-style: none;
    text-decoration: none;
}
#copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
    padding-top: 40px;
}